<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./resources/Template/plantilla.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="top">

        <h2 style="color: #000000; font: condensed sans-serif"> GF15006</h2>
        <h3> Buscar TipoEstadoReserva</h3>
    </ui:define>


    <ui:define name="content">

        <h:form id="frmText">

            <h:outputLabel for="itext" style="color: #045491; font: bold 130% monospace;" value="Ingrese el texto a Buscar: "/>


            <h:inputText id="itext" value="#{frmTipoEstadoReserva.select}" > 
                <p:ajax event="keyup" listener="#{frmTipoEstadoReserva.buscarLike()}" 
                        update=":frmTbl frmText:Infolabel"/>

            </h:inputText><h:outputLabel id="Infolabel" style="color: #D20005"  value=" #{frmTipoEstadoReserva.msj}"/>

        </h:form>
        <div></div>


        <h3> Lista de TipoEstadoReserva Encontradas:</h3>


        <h:form id="frmTbl">
            <p:dataTable var="item" value="#{frmTipoEstadoReserva.lista}" paginator="true"
                         rows="5" rowsPerPageTemplate="5,10,15"
                         emptyMessage="No se encontraron Registros">

                <p:column headerText="ID">
                    <h:outputText value="#{item.idTipoEstadoReserva}"/>
                </p:column>

                <p:column headerText="nombre">
                    <h:outputText value="#{item.nombre}"/>
                </p:column>

                <p:column headerText="Activo">
                    <h:outputText value="#{item.activo}"/>
                </p:column>


                <p:column headerText="indicaAprobacion">
                    <h:outputText value="#{item.indicaAprobacion}"/>
                </p:column>

            </p:dataTable>
        </h:form>

    </ui:define>

    <ui:define name="bottom">
    </ui:define>







</ui:composition>
